---
import Layout from '@layouts/Layout.astro';
import { getCats } from '@library/useApi';
import CatsList from '@components/CatsList.svelte';

const cats = await getCats();
---

<Layout title="Welcome to Astro.">
  <main>
    {cats && <CatsList cats={cats.contents} />}
  </main>
</Layout>
